.pictureCol{
    min-width: 220px;
    height: 140px;
     display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        
    
    height: 130px;
    max-width: 200px;
        
    }

}