a {
    color: #000;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: ease 0.3s;
}

h1, h2 {
    margin-top: 2rem;
}

h2 {
    font-size: 1.7rem;
}

// Mini Jumbotron component styles
.miniJumbo {
    max-height: 400px;
    object-fit: cover;
}

// Gun Activity styles
.activity-paragraph {
    width: 700px;
}

// Custom List component styles
.recommended-row {
    background-color: #C5BBA8;
    margin-top: 2vh;
}

.recommended-row .col:not(:last-child) {
    border-right: 1px solid black;
}



.custom-thumbnail {
    border: none;
    background-color: transparent;
}


.col{
    img{
        height: 100px;
        width: auto;
    }
}