a {
    color: #000;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: ease 0.3s;
}

.bg-color{
    background-color: #C5BBA8;
}


.top-spacing-80{
    padding-top: 50px;
    margin-top: 30px;
}
.top-spacing-20{
    padding-top: 20px;
}
.filters-header{
    background-color: #343a40;
    color: white;
    margin-bottom: 0px ;
    padding-bottom: 0px ;

}

.filters-listgroup{
    padding-top: 0px;
    margin-top: 0px;
}



.gunList-row .col:not(:last-child) {
    border-right: 1px solid black;
    
}

.pictureCol{
    min-width: 220px;
    height: 140px;
     display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        
    
    height: 130px;
    max-width: 200px;
        
    }

}