.content{
    background-color: #4d4d4d;
    &.carousel{
        min-height: 150px;
        .carousel-item img{
            height: 300px;
            width: 300px;
            object-fit: cover;
        }
        .col{
             display: flex;
    align-items: center;
    justify-content: center;
    
        
            h1{
        position: absolute;
        color: white;
        text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
        background-color: black;
        opacity: .7;
        width: 300px;
        text-align: center;        
    }
        }
         
    }
}

h4{
    text-align: center;
}

.jumbotron {
  background-image: url("../img/firearm.jpeg");
  background-size: cover;
  .container{
      color: white;
      background-color: black;
        opacity: .7;
  }
}
.handgunscat, .riflescat, .shotgunscat{
    height: 300px ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    h1{
        position: absolute;
        color: white;
        text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
        background-color: black;
        opacity: .7;
        width: 300px;
        
        text-align: center;

        
        
    }
    img{
        height: 300px;
        width: 300px;
            object-fit: cover
    }
}
