/* 
    General Styles
*/

.btn-primary {
    background-color: gold;
    border-color: goldenrod;
    color: black;
    &:hover{
        background: goldenrod;
        border-color: gold;
        color: white;
    }
}

.toast {
    top: 10%;
    left: 10%;
    z-index: 1000;
}