.nav-colors {
    background-color: #A08F6E;
    border-bottom: 1px solid #4d4d4d;
}

.navbar-toggler {
    border: 0px solid transparent;
}

.navbar-brand {
    text-shadow: 0.5px 0.5px 1px #000000;
}